.field-wrap {
    position:relative;
    margin-bottom:40px;
  }

label{
    position: absolute;
    left:13px;
    color: darkseagreen;
    transform:translateY(6px);
    pointer-events: none;
}  

label .active {
    transform:translateY(50px);
    left:2px;
    font-size:14px;
}

label.highlight{
    color: white;
}

.req {
    margin:2px;
    color:mediumseagreen;
}

input{
    width: 100%;
    height: 100%;
    background: none;
    border-color: rgb(63, 141, 80);
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 7px;
    outline: none;
    &:focus {
		outline:0;       
		border-color: darkseagreen;
    }
}

.button{
    border:0;
    border-radius: 7px;
    color: white;
    background: mediumseagreen;
    font-weight: bold;
    letter-spacing: .1em;
    outline: none;
    &:hover, &:focus {
        background:rgb(63, 141, 80);
        color: white;
    }
}

.button-block {
    display:block;
    width:100%;
    height: 60px
}

